USE [master]
GO
/****** Object:  Database [db_job_find]    Script Date: 18.03.2026 13:21:41 ******/
CREATE DATABASE [db_job_find]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_job_find', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_job_find.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_job_find_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_job_find_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_job_find].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_job_find]
GO
/****** Object:  User [user]    Script Date: 18.03.2026 13:21:41 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 18.03.2026 13:21:41 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[address]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[city] [varchar](255) NOT NULL,
	[district] [varchar](255) NOT NULL,
	[neighborhood] [varchar](255) NULL,
	[street] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[employee_count] [int] NULL,
	[address_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[login_id] [bigint] NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
	[average_point] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_comment]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_comment](
	[created_date] [date] NULL,
	[point] [int] NOT NULL,
	[company_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[comment] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cv]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[bio] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[experience_cv]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[experience_cv](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[end_date] [date] NULL,
	[name] [varchar](255) NOT NULL,
	[start_date] [date] NULL,
	[cv_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_application]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_application](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[job_posting_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[apply] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_posting]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_posting](
	[count] [int] NOT NULL,
	[created_date] [date] NULL,
	[end_date] [date] NOT NULL,
	[company_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[language_cv]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[language_cv](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[level] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[cv_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK__login__3213E83FCBF0148F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_token]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_token](
	[expiration] [datetime2](7) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[login_id] [bigint] NULL,
	[refresh_token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_cv]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_cv](
	[point] [float] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[school_name] [varchar](255) NOT NULL,
	[school_type] [varchar](255) NULL,
	[cv_id] [bigint] NULL,
	[end_date] [date] NULL,
	[start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18.03.2026 13:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[birth_date] [date] NULL,
	[address_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[login_id] [bigint] NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
 CONSTRAINT [PK__users__3213E83FDF34FAE3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [city], [district], [neighborhood], [street]) VALUES (1, N'İSTANBUL', N'ÜMRANİYE', N'KISIKLI', N'1')
INSERT [dbo].[address] ([id], [city], [district], [neighborhood], [street]) VALUES (3, N'İSTANBUL', N'ATAŞEHİR', N'ÖRNEK', N'1234')
INSERT [dbo].[address] ([id], [city], [district], [neighborhood], [street]) VALUES (4, N'İSTANBUL', N'ÜMRANİYE', N'KISIKLI', N'1')
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([employee_count], [address_id], [id], [login_id], [description], [name], [average_point]) VALUES (205, 1, 1, 1, N'Geleceğin yazılım şirketi', N'Login Yazılım', NULL)
INSERT [dbo].[company] ([employee_count], [address_id], [id], [login_id], [description], [name], [average_point]) VALUES (505, 3, 6, 4, N'Geleceğin yazılım şirketi', N'SK Yazilim', 5)
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[company_comment] ON 

INSERT [dbo].[company_comment] ([created_date], [point], [company_id], [id], [user_id], [comment]) VALUES (CAST(N'2026-03-17' AS Date), 5, 6, 5, 2, N'İyi bir yer')
SET IDENTITY_INSERT [dbo].[company_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[cv] ON 

INSERT [dbo].[cv] ([id], [user_id], [bio]) VALUES (1, 2, N'TestTestTestTestTestTestTestTestTestTestTestTestTestTes')
SET IDENTITY_INSERT [dbo].[cv] OFF
GO
SET IDENTITY_INSERT [dbo].[experience_cv] ON 

INSERT [dbo].[experience_cv] ([id], [end_date], [name], [start_date], [cv_id]) VALUES (1, CAST(N'2005-12-12' AS Date), N'ADANA DEMİR - MÜDÜR', CAST(N'2000-12-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[experience_cv] OFF
GO
SET IDENTITY_INSERT [dbo].[job_application] ON 

INSERT [dbo].[job_application] ([id], [job_posting_id], [user_id], [apply]) VALUES (3, 1, 2, N'APPROVED')
INSERT [dbo].[job_application] ([id], [job_posting_id], [user_id], [apply]) VALUES (4, 1, 3, N'PENDING')
INSERT [dbo].[job_application] ([id], [job_posting_id], [user_id], [apply]) VALUES (5, 4, 2, N'PENDING')
SET IDENTITY_INSERT [dbo].[job_application] OFF
GO
SET IDENTITY_INSERT [dbo].[job_posting] ON 

INSERT [dbo].[job_posting] ([count], [created_date], [end_date], [company_id], [id], [description]) VALUES (2, CAST(N'2026-03-11' AS Date), CAST(N'2026-10-10' AS Date), 6, 1, N'İki kişilik test ilanı')
INSERT [dbo].[job_posting] ([count], [created_date], [end_date], [company_id], [id], [description]) VALUES (6, CAST(N'2026-03-18' AS Date), CAST(N'2026-03-18' AS Date), 1, 4, N'Test')
SET IDENTITY_INSERT [dbo].[job_posting] OFF
GO
SET IDENTITY_INSERT [dbo].[language_cv] ON 

INSERT [dbo].[language_cv] ([id], [level], [name], [cv_id]) VALUES (2, N'C1', N'dsfsd', 1)
SET IDENTITY_INSERT [dbo].[language_cv] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([id], [username], [password]) VALUES (1, N'admin@admin.com', N'$2a$12$aupB80QgnTmrl18e5WaAAOCSXQDyyjoHjt1IyKQG.k0NEllsaOYeK')
INSERT [dbo].[login] ([id], [username], [password]) VALUES (2, N'user@user.com', N'$2a$12$aupB80QgnTmrl18e5WaAAOCSXQDyyjoHjt1IyKQG.k0NEllsaOYeK')
INSERT [dbo].[login] ([id], [username], [password]) VALUES (4, N'sk@sk.com', N'$2a$12$aupB80QgnTmrl18e5WaAAOCSXQDyyjoHjt1IyKQG.k0NEllsaOYeK')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[refresh_token] ON 

INSERT [dbo].[refresh_token] ([expiration], [id], [login_id], [refresh_token]) VALUES (CAST(N'2026-02-26T00:00:08.4450407' AS DateTime2), 1, 1, N'fd1cebee-c994-4c5e-9db3-09baa79f6a8c')
INSERT [dbo].[refresh_token] ([expiration], [id], [login_id], [refresh_token]) VALUES (CAST(N'2026-02-26T00:01:31.7640060' AS DateTime2), 2, 1, N'50181ef0-8b59-47a3-b481-3cf301ec8186')
INSERT [dbo].[refresh_token] ([expiration], [id], [login_id], [refresh_token]) VALUES (CAST(N'2026-02-26T00:06:23.1799456' AS DateTime2), 3, 1, N'bf3a1c6f-7752-46e9-addc-6906dafcb6ef')
SET IDENTITY_INSERT [dbo].[refresh_token] OFF
GO
SET IDENTITY_INSERT [dbo].[school_cv] ON 

INSERT [dbo].[school_cv] ([point], [id], [description], [school_name], [school_type], [cv_id], [end_date], [start_date]) VALUES (35, 14, N'Bilgi', N'test', N'HIGH_SCHOOL', 1, NULL, CAST(N'2026-03-12' AS Date))
SET IDENTITY_INSERT [dbo].[school_cv] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([birth_date], [address_id], [id], [login_id], [first_name], [last_name], [phone]) VALUES (CAST(N'2001-12-04' AS Date), 4, 2, 2, N'SALİH', N'LAZ', N'5597847825')
INSERT [dbo].[users] ([birth_date], [address_id], [id], [login_id], [first_name], [last_name], [phone]) VALUES (NULL, NULL, 3, 10, N'Kerim', N'Can', NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKniu8sfil2gxywcru9ah3r4ec5]    Script Date: 18.03.2026 13:21:41 ******/
ALTER TABLE [dbo].[company] ADD  CONSTRAINT [UKniu8sfil2gxywcru9ah3r4ec5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKh2rewspdf9bnwpbt1nauwiaww]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKh2rewspdf9bnwpbt1nauwiaww] ON [dbo].[company]
(
	[address_id] ASC
)
WHERE ([address_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKjymm78yo2olotyo1e343ct9ko]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKjymm78yo2olotyo1e343ct9ko] ON [dbo].[company]
(
	[login_id] ASC
)
WHERE ([login_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKm8wqbd96u8j38c27qc5c8hp83]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKm8wqbd96u8j38c27qc5c8hp83] ON [dbo].[company_comment]
(
	[user_id] ASC,
	[company_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [company_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKac214v75ye3xgtnjedoxebk9y]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKac214v75ye3xgtnjedoxebk9y] ON [dbo].[cv]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK5al0n58fx190hl62sht1to8tr]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK5al0n58fx190hl62sht1to8tr] ON [dbo].[job_application]
(
	[user_id] ASC,
	[job_posting_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [job_posting_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK3svxcq6q51yfdg253l6x3dget]    Script Date: 18.03.2026 13:21:41 ******/
ALTER TABLE [dbo].[login] ADD  CONSTRAINT [UK3svxcq6q51yfdg253l6x3dget] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdu5v5sr43g5bfnji4vb8hg5s3]    Script Date: 18.03.2026 13:21:41 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKdu5v5sr43g5bfnji4vb8hg5s3] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKhbvhqvjgmhd5omxyo67ynvbyp]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKhbvhqvjgmhd5omxyo67ynvbyp] ON [dbo].[users]
(
	[address_id] ASC
)
WHERE ([address_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKi3xs7wmfu2i3jt079uuetycit]    Script Date: 18.03.2026 13:21:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKi3xs7wmfu2i3jt079uuetycit] ON [dbo].[users]
(
	[login_id] ASC
)
WHERE ([login_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD  CONSTRAINT [FKgfifm4874ce6mecwj54wdb3ma] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[company] CHECK CONSTRAINT [FKgfifm4874ce6mecwj54wdb3ma]
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD  CONSTRAINT [FKsjujkrn1gg9ifshu872wppfh4] FOREIGN KEY([login_id])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[company] CHECK CONSTRAINT [FKsjujkrn1gg9ifshu872wppfh4]
GO
ALTER TABLE [dbo].[company_comment]  WITH CHECK ADD  CONSTRAINT [FK3isv4ke35uaympdb79jlllfva] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[company_comment] CHECK CONSTRAINT [FK3isv4ke35uaympdb79jlllfva]
GO
ALTER TABLE [dbo].[company_comment]  WITH CHECK ADD  CONSTRAINT [FKjcg3j9sdslecp2sb8w1rprlsc] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[company_comment] CHECK CONSTRAINT [FKjcg3j9sdslecp2sb8w1rprlsc]
GO
ALTER TABLE [dbo].[cv]  WITH CHECK ADD  CONSTRAINT [FKq1uw3pyveaumh2hq2md9istwe] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cv] CHECK CONSTRAINT [FKq1uw3pyveaumh2hq2md9istwe]
GO
ALTER TABLE [dbo].[experience_cv]  WITH CHECK ADD  CONSTRAINT [FKpkoshfe26ojnvoupfsnghjxsn] FOREIGN KEY([cv_id])
REFERENCES [dbo].[cv] ([id])
GO
ALTER TABLE [dbo].[experience_cv] CHECK CONSTRAINT [FKpkoshfe26ojnvoupfsnghjxsn]
GO
ALTER TABLE [dbo].[job_application]  WITH CHECK ADD  CONSTRAINT [FK7jtt0struc634qvwxhw43ipo8] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_application] CHECK CONSTRAINT [FK7jtt0struc634qvwxhw43ipo8]
GO
ALTER TABLE [dbo].[job_application]  WITH CHECK ADD  CONSTRAINT [FKa9y14gfb3f86qg8ljwkfeeho5] FOREIGN KEY([job_posting_id])
REFERENCES [dbo].[job_posting] ([id])
GO
ALTER TABLE [dbo].[job_application] CHECK CONSTRAINT [FKa9y14gfb3f86qg8ljwkfeeho5]
GO
ALTER TABLE [dbo].[job_posting]  WITH CHECK ADD  CONSTRAINT [FKd9euom18rv4nilau4hblm08cv] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[job_posting] CHECK CONSTRAINT [FKd9euom18rv4nilau4hblm08cv]
GO
ALTER TABLE [dbo].[language_cv]  WITH CHECK ADD  CONSTRAINT [FKbp27ho9grd5fablix4o8g4nic] FOREIGN KEY([cv_id])
REFERENCES [dbo].[cv] ([id])
GO
ALTER TABLE [dbo].[language_cv] CHECK CONSTRAINT [FKbp27ho9grd5fablix4o8g4nic]
GO
ALTER TABLE [dbo].[refresh_token]  WITH CHECK ADD  CONSTRAINT [FKgiusyr2usikfpvg3pkts0x1vg] FOREIGN KEY([login_id])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[refresh_token] CHECK CONSTRAINT [FKgiusyr2usikfpvg3pkts0x1vg]
GO
ALTER TABLE [dbo].[school_cv]  WITH CHECK ADD  CONSTRAINT [FKnmj6oam3ufwx42s3iyiba15je] FOREIGN KEY([cv_id])
REFERENCES [dbo].[cv] ([id])
GO
ALTER TABLE [dbo].[school_cv] CHECK CONSTRAINT [FKnmj6oam3ufwx42s3iyiba15je]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK7el0sevv2a3r9ysclees6ig9x] FOREIGN KEY([login_id])
REFERENCES [dbo].[login] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK7el0sevv2a3r9ysclees6ig9x]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKditu6lr4ek16tkxtdsne0gxib] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKditu6lr4ek16tkxtdsne0gxib]
GO
ALTER TABLE [dbo].[job_application]  WITH CHECK ADD CHECK  (([apply]='APPROVED' OR [apply]='REJECTED' OR [apply]='PENDING'))
GO
ALTER TABLE [dbo].[language_cv]  WITH CHECK ADD CHECK  (([level]='C2' OR [level]='C1' OR [level]='B2' OR [level]='B1' OR [level]='A2' OR [level]='A1'))
GO
ALTER TABLE [dbo].[school_cv]  WITH CHECK ADD CHECK  (([school_type]='MASTER' OR [school_type]='BACHELOR' OR [school_type]='ASSOCIATE' OR [school_type]='HIGH_SCHOOL' OR [school_type]='MIDDLE_SCHOOL' OR [school_type]='PRIMARY_SCHOOL'))
GO
USE [master]
GO
